.title {
    @apply pb-10;
}

/* automatically determine number of columns  */
.gridContainer {
    @apply grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 10px;
    @apply w-11/12;
    @apply mx-auto;
}

@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    }
}
